.logo{
    text-decoration: none;
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

}
.logo-web{
    margin-right: 0px;
color: var(--accent-color);
}
.logo-stydio{

color: var(--title-text-color);
}
.logo-footer{
    color: var(--background-color);
}