
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 578px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-letter-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-close-btn:focus, 
.modal-close-btn:hover{
    fill: var(--accent-color);
}