:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --background-color: #FFFFFF;
    --accent-color:#2196F3;
    --background-color2:#2F303A;
    --background-color3:#F5F4FA;
    --line-color: #ECECEC;
    --black-color: #000000;
    --black-color2: #212121;
    --pictures-color:#EEEEEE;
    --cocial-color:#AFB1B8;
    --background-color-btn:#188CE8;
    
    
}